.section {
    max-width: 800px;
    background-color: white;
    padding: 5px;
    margin: 10px 0px;
}

.section__header {
    font-size: 20px;
    margin: 10px;
}

.section__container {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px;
    margin: 5px;
    border-bottom: 2px solid #eee;
    align-items: center;
    
}

@media (max-width: 767px) {
    .section__container {
        grid-template-columns: 1fr;      
    }
}